<div class="row gap-20px">
    <div class="col-md-5 d-flex flex-column row-gap-20px">
        <div class="d-flex gap-10px align-items-center">
            <span class="text-capitalize fw-bold"
                >{{ 'FUNDING.TOTAL_PAID' | translate }}:</span
            >
            <span>{{ 50000000 | money: 'VND' }}</span>
        </div>

        <div class="d-flex gap-10px align-items-center">
            <span class="text-capitalize fw-bold"
                >{{ 'FUNDING.TOTAL_SPENT' | translate }}:</span
            >
            <span>{{ 50000000 | money: 'VND' }}</span>
        </div>

        <div class="d-flex gap-10px align-items-center">
            <span class="text-capitalize fw-bold"
                >{{ 'FUNDING.TOTAL_DONATED' | translate }}:</span
            >
            <span>{{ 50000000 | money: 'VND' }}</span>
        </div>

        <div class="d-flex gap-10px align-items-center">
            <span class="text-capitalize fw-bold"
                >{{ 'FUNDING.AVAILABLE' | translate }}:</span
            >
            <span>{{ 50000000 | money: 'VND' }}</span>
        </div>
    </div>
    <div class="col-md-5 d-flex flex-column row-gap-20px">
        <div class="d-flex gap-10px align-items-center">
            <span class="text-capitalize fw-bold"
                >{{ 'FUNDING.TOTAL_PAID' | translate }}:</span
            >
            <span>{{ 50000000 | money: 'VND' }}</span>
        </div>

        <div class="d-flex gap-10px align-items-center">
            <span class="text-capitalize fw-bold"
                >{{ 'FUNDING.TOTAL_SPENT' | translate }}:</span
            >
            <span>{{ 50000000 | money: 'VND' }}</span>
        </div>

        <div class="d-flex gap-10px align-items-center">
            <span class="text-capitalize fw-bold"
                >{{ 'FUNDING.TOTAL_DONATED' | translate }}:</span
            >
            <span>{{ 50000000 | money: 'VND' }}</span>
        </div>

        <div class="d-flex gap-10px align-items-center">
            <span class="text-capitalize fw-bold"
                >{{ 'FUNDING.AVAILABLE' | translate }}:</span
            >
            <span>{{ 50000000 | money: 'VND' }}</span>
        </div>
    </div>
</div>
