<div>
    <label
        *ngIf="label"
        class="fw-semibold text-capitalize"
        [class.required]="required"
        >{{ label }}</label
    >
    <ng-select
        [items]="items"
        [bindLabel]="bindLabel"
        [bindValue]="bindValue"
        [placeholder]="placeholder"
        [multiple]="multiple"
        [closeOnSelect]="false"
        [(ngModel)]="value"
        (blur)="markAsTouched()"
        (ngModelChange)="onChangeValue()"
    >
        <ng-content></ng-content>
    </ng-select>
</div>
<div *ngIf="control.touched && control.invalid">
    <div *ngFor="let err of control.errors | keyvalue">
        <div
            *ngIf="err.value && errorsMessage[err.key]"
            class="text-danger fw-semibold text-capitalize"
        >
            {{ errorsMessage[err.key] | translate }}
        </div>
    </div>
</div>
