<fms-message-error
    [isError]="control.touched && control.invalid"
    [errorsMessage]="errorsMessage"
    [errors]="control.errors"
>
    <div>
        <label
            *ngIf="label"
            class="fw-semibold text-capitalize"
            [class.required]="required"
            >{{ label }}</label
        >

        <nz-select
            class="w-100"
            [nzMode]="multiple ? 'multiple' : 'default'"
            [nzShowArrow]="true"
            [nzPlaceHolder]="placeholder"
            [(ngModel)]="value"
            [nzDisabled]="isDisabled"
            [nzAllowClear]="true"
            [nzShowSearch]="true"
            [nzStatus]="control.touched && control.invalid ? 'error' : ''"
            (ngModelChange)="onChangeValue()"
            (nzBlur)="markAsTouched()"
        >
            <ng-container *ngFor="let x of options()">
                <nz-option-group
                    *ngIf="group; else nonGroup"
                    [nzLabel]="x.groupLabel"
                >
                    <ng-container
                        *ngFor="let item of x.items"
                        [ngTemplateOutlet]="optionTemplate"
                        [ngTemplateOutletContext]="{ item: item }"
                    >
                    </ng-container>
                </nz-option-group>

                <ng-template #nonGroup>
                    <ng-container
                        [ngTemplateOutlet]="optionTemplate"
                        [ngTemplateOutletContext]="{ item: x }"
                    ></ng-container>
                </ng-template>

                <ng-template #optionTemplate let-item="item">
                    <nz-option
                        nzCustomContent
                        [nzValue]="item.value"
                        [nzLabel]="
                            item.i18key ? (item.i18key | translate) : item.label
                        "
                    >
                        <ng-container
                            [ngTemplateOutlet]="
                                customOptionTemplate ?? nonCustomOptionTemplate
                            "
                            [ngTemplateOutletContext]="{ item: item }"
                        ></ng-container>
                    </nz-option>
                </ng-template>

                <ng-template #nonCustomOptionTemplate let-item="item">
                    {{ item.i18key ? (item.i18key | translate) : item.label }}
                </ng-template>
            </ng-container>
        </nz-select>
    </div>
</fms-message-error>
