.border-container {
    border: 3px dashed rgba(198, 198, 198, 0.65);
    padding: 20px;
}

.border-container p {
    color: #130f40;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-bottom: 0;
    opacity: 0.65;
}

.icons {
    color: #95afc0;
    opacity: 0.55;
}

.preview {
    width: 100px;
    height: 100px;
}
