<form [formGroup]="formGroup" class="d-flex flex-column row-gap-3">
    <div class="row">
        <div class="col-md-12">
            <fms-input
                [required]="true"
                [label]="'FUNDING.NAME' | translate"
                [placeholder]="'FUNDING.INPUT_NAME' | translate"
                formControlName="name"
                [control]="formGroup.get('name')"
            ></fms-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label class="fw-semibold required">{{
                'FUNDING.AMOUNT_PERSON' | translate
            }}</label>
            <div class="row row-gap-3">
                <div class="col-md-9">
                    <fms-input
                        [required]="true"
                        [placeholder]="'FUNDING.INPUT_AMOUNT_PERSON' | translate"
                        formControlName="amt"
                        [control]="formGroup.get('amt')"
                    ></fms-input>
                </div>
                <div class="col-md-3">
                    <fms-select
                        [items]="items | signal"
                        [placeholder]="'currency'"
                        [required]="true"
                        formControlName="currency"
                        [control]="formGroup.get('currency')"
                    ></fms-select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <fms-select
                [items]="items | signal"
                [required]="true"
                [placeholder]="'COMMON.SELECT_FC' | translate"
                [label]="'COMMON.FC' | translate"
                formControlName="fc"
                [control]="formGroup.get('fc')"
            ></fms-select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <fms-date
                [required]="true"
                [label]="'COMMON.START_DATE' | translate"
                formControlName="startDate"
                [control]="formGroup.get('startDate')"
            ></fms-date>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <fms-input
                [variant]="'textarea'"
                [required]="true"
                [label]="'FUNDING.DESC' | translate"
                formControlName="desc"
                [control]="formGroup.get('desc')"
            ></fms-input>
        </div>
    </div>
</form>
