<div class="vh-100">
    <nz-layout class="h-100">
        <nz-sider
            nzCollapsible
            [nzCollapsed]="isCollapsed"
            (nzCollapsedChange)="isCollapsed = $event"
            [nzBreakpoint]="'xl'"
        >
            <main-sidebar [isCollapsed]="isCollapsed"></main-sidebar>
        </nz-sider>
        <nz-layout>
            <nz-header>
                <main-header></main-header>
            </nz-header>
            <nz-content class="ml-0px mr-0px overflow-a nice-scrollbar">
                <router-outlet></router-outlet>
            </nz-content>
        </nz-layout>
    </nz-layout>
</div>
