<form class="d-flex flex-column row-gap-3">
    <div class="row row-gap-3">
        <div class="col-md-4">
            <label class="fw-semibold">Họ và tên</label>
            <input
                placeholder="Nhập họ và tên"
                class="form-control"
            />
        </div>

        <div class="col-md-4">
            <label class="fw-semibold">Trạng thái</label>
            <ng-select
            ></ng-select>
        </div>

        <div class="col-md-4">
            <label class="fw-semibold">Ngày tham gia</label>
            <div class="row row-gap-3">
                <div class="col-md-6">
                    <input
                        type="date"
                        class="form-control"
                    />
                </div>

                <div class="col-md-6">
                    <input
                        type="date"
                        class="form-control"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="row row-gap-3">
        <div class="col-md-4">
            <label class="fw-semibold">Football Club</label>
            <ng-select
            ></ng-select>
        </div>

        <div class="col-md-4">
            <label class="fw-semibold">Vị trí</label>
            <ng-select
            ></ng-select>
        </div>

        <div class="col-md-4">
            <label class="fw-semibold">Account</label>
            <ng-select
            ></ng-select>
        </div>
    </div>
</form>
