<form [formGroup]="formGroup" class="d-flex flex-column row-gap-2">
    <div class="row">
        <div class="col-md-12">
            <fms-input
                [label]="'MEMBER.FULLNAME' | translate"
                [required]="true"
                [variant]="'input'"
                [placeholder]="'MEMBER.INPUT_FULLNAME' | translate"
                formControlName="fullName"
                [errorsMessage]="{
                    required: 'MEMBER.ERRORS.FULL_NAME.REQUIRED',
                    maxLength: 'MEMBER.ERRORS.FULL_NAME.MAX_LENGTH'
                }"
            ></fms-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <fms-input
                [label]="'MEMBER.PRINTED_NAME' | translate"
                [required]="true"
                [variant]="'input'"
                [placeholder]="'MEMBER.INPUT_PRINTED_NAME' | translate"
                formControlName="nameShirt"
                [errorsMessage]="{
                    required: 'MEMBER.ERRORS.PRINTED_NAME.REQUIRED',
                    maxLength: 'MEMBER.ERRORS.PRINTED_NAME.MAX_LENGTH'
                }"
            ></fms-input>
        </div>
        <div class="col-md-6">
            <fms-input
                [label]="'MEMBER.PRINTED_NUMBER' | translate"
                [required]="true"
                [type]="'number'"
                [variant]="'input'"
                [placeholder]="'MEMBER.INPUT_PRINTED_NUMBER' | translate"
                formControlName="numberShirt"
                [errorsMessage]="{
                    required: 'MEMBER.ERRORS.PRINTED_NUMBER.REQUIRED'
                }"
            ></fms-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <fms-input
                [label]="'MEMBER.PHONE' | translate"
                [required]="true"
                [type]="'text'"
                [variant]="'input'"
                [placeholder]="'MEMBER.INPUT_PHONE' | translate"
                formControlName="phoneNumber"
                [errorsMessage]="{
                    required: 'MEMBER.ERRORS.PHONE.REQUIRED',
                    maxLength: 'MEMBER.ERRORS.PHONE.MAX_LENGTH',
                    pattern: 'MEMBER.ERRORS.PHONE.PATTERN'
                }"
            ></fms-input>
        </div>
        <div class="col-md-6">
            <position-select
                [value]="formGroup.controls.position.value"
                (change)="formGroup.controls.position.setValue($event)"
            ></position-select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <fms-input
                [label]="'MEMBER.ADDRESS' | translate"
                [required]="false"
                [type]="'text'"
                [variant]="'textarea'"
                formControlName="address"
                [errorsMessage]="{
                    maxLength: 'MEMBER.ERRORS.ADDRESS.MAX_LENGTH'
                }"
            ></fms-input>
        </div>
        <div class="col-md-6 d-flex flex-column gap-10px">
            <div>
                <label class="fw-semibold text-capitalize">{{
                    'MEMBER.AVATAR' | translate
                }}</label>
                <input
                    type="file"
                    class="form-control"
                    (change)="onChangeAvatar($event)"
                />
            </div>
            <div *ngIf="previewAvatarUrl">
                <img
                    [src]="previewAvatarUrl"
                    style="height: 100px; max-width: 100%"
                    alt="preview avatar"
                />
            </div>
        </div>
    </div>
</form>
