<form [formGroup]="formGroup" class="d-flex flex-column row-gap-3">
    <div class="row">
        <div class="col-md-12">
            <fms-input
                [placeholder]="'DONATE.INPUT_NAME_DONATOR' | translate"
                [required]="true"
                [label]="'DONATE.NAME_DONATOR' | translate"
                formControlName="donator"
                [control]="formGroup.get('donator')"
            ></fms-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label class="fw-semibold required text-capitalize">{{
                'DONATE.AMOUNT_DONATE' | translate
            }}</label>
            <div class="row">
                <div class="col-md-9">
                    <fms-input
                        [placeholder]="'DONATE.INPUT_AMOUNT_DONATE' | translate"
                        [type]="'number'"
                        [required]="true"
                        formControlName="amt"
                        [control]="formGroup.get('amt')"
                    ></fms-input>
                </div>
                <div class="col-md-3">
                    <fms-select
                        [items]="currency"
                        [clearable]="false"
                        [placeholder]="'DONATE.CURRENCY' | translate"
                        [required]="true"
                        formControlName="currency"
                        [control]="formGroup.get('currency')"
                    ></fms-select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <fms-select
                [required]="true"
                [placeholder]="'COMMON.SELECT_FC' | translate"
                [label]="'COMMON.FC' | translate"
                [items]="items | signal"
                formControlName="fc"
                [control]="formGroup.get('fc')"
            ></fms-select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <fms-input
                [variant]="'textarea'"
                [required]="true"
                [label]="'DONATE.CONTENT' | translate"
                formControlName="desc"
                [control]="formGroup.get('desc')"
            ></fms-input>
        </div>
    </div>
</form>
