<form class="user" [formGroup]="loginFormGroup">
    <div class="form-group">
        <fms-input
            [type]="'email'"
            [placeholder]="'AUTH.INPUT_EMAIL' | translate"
            formControlName="email"
            [control]="loginFormGroup.get('email')"
            [required]="true"
        ></fms-input>
    </div>
    <div class="form-group">
        <fms-input
            type="password"
            [placeholder]="'AUTH.INPUT_PASSWORD' | translate"
            formControlName="password"
            [control]="loginFormGroup.get('password')"
            [required]="true"
        ></fms-input>
    </div>
    <fms-button
        [label]="'AUTH.LOGIN' | translate"
    ></fms-button>
</form>