<nav class="d-flex align-items-center justify-content-between pl-10px pr-10px">
    <span class="h4 text-capitalize mb-0px">{{
        title$ | async | translate
    }}</span>

    <!-- Topbar Navbar -->
    <ul class="d-flex align-items-center mb-0px">
        <!-- Nav Item - Alerts -->
        <li>
            <div style="min-width: 150px">
                <select-language></select-language>
            </div>
        </li>

        <!-- Nav Item - User Information -->
        <!-- <li class="nav-item dropdown no-arrow">
            <button
                type="button"
                class="nav-link dropdown-toggle"
                (click)="toggleDropdown(userDropdown)"
            >
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >Douglas McGee</span
                >
                <img
                    class="img-profile rounded-circle"
                    src="img/undraw_profile.svg"
                />
            </button>
            <div
                #userDropdown="ngbCollapse"
                [ngbCollapse]="true"
                [animation]="true"
                class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown"
            >
                <a class="dropdown-item" href="#">
                    <fa-icon
                        [icon]="['fas', 'user']"
                        size="sm"
                        class="mr-2 text-gray-400"
                    ></fa-icon>
                    Profile
                </a>
                <a class="dropdown-item" href="#">
                    <fa-icon
                        [icon]="['fas', 'cogs']"
                        size="sm"
                        class="mr-2 text-gray-400"
                    ></fa-icon>
                    Settings
                </a>
                <a class="dropdown-item" href="#">
                    <fa-icon
                        [icon]="'list'"
                        size="sm"
                        class="mr-2 text-gray-400"
                    ></fa-icon>
                    Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a
                    class="dropdown-item"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                >
                    <fa-icon
                        [icon]="'sign-out-alt'"
                        size="sm"
                        class="mr-2 text-gray-400"
                    ></fa-icon>
                    Logout
                </a>
            </div>
        </li> -->
    </ul>
</nav>
