<div class="d-flex flex-column gap-2">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="text-capitalize">
            {{ 'MEMBER.LIST_OF_MEMBER' | translate }}
        </h4>
        <button class="btn btn-success" (click)="openAddMemberModal()">
            <i class="fas fa-plus me-2"></i>
            <span class="text-capitalize">
                {{ 'MEMBER.CREATE_MEMBER' | translate }}
            </span>
        </button>
    </div>
    <div style="height: 300px">
        <member-grid
            [rowData]="members"
            (updateMember)="onUpdateMember($event)"
            (deleteMember)="onDeleteMember($event)"
        ></member-grid>
    </div>
</div>
