<div class="d-flex flex-column">
    <div class="modal-header d-flex justify-content-between align-items-center">
        <span class="h4">Thêm mới donate</span>
        <i class="fas fa-times" (click)="closeModal()"></i>
    </div>

    <div class="modal-body">
        <create-donate-form></create-donate-form>
    </div> 

    <div class="modal-footer d-flex justify-content-center gap-2">
        <button class="btn btn-primary">Lưu lại</button>
        <button class="btn btn-secondary" (click)="closeModal()">Hủy bỏ</button>
    </div>
</div>
