<form [formGroup]="formGroup" class="d-flex flex-column row-gap-2">
    <div class="row">
        <div class="col-md-6">
            <label class="fw-semibold text-capitalize">{{ 'ACCOUNT.ACC' | translate }}</label>
            <ng-select
                [items]="accounts"
                bindLabel="fullName"
                bindValue="username"
                [placeholder]="'ACCOUNT.SELECT_ACC' | translate"
            ></ng-select>
        </div>
        <div class="col-md-6">
            <label class="fw-semibold required text-capitalize">{{ 'COMMON.FC' | translate }}</label>
            <ng-select
                [items]="footballClubs"
                bindLabel="name"
                bindValue="id"
                [placeholder]="'COMMON.SELECT_FC' | translate"
            ></ng-select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="fw-semibold required text-capitalize">{{ 'MEMBER.FULLNAME' | translate }}</label>
            <input
                [placeholder]="'MEMBER.INPUT_FULLNAME' | translate"
                class="form-control"
                formControlName="fullName"
            />
        </div>
        <div class="col-md-6">
            <label class="fw-semibold required text-capitalize">{{ 'MEMBER.PRINTED_NAME' | translate }}</label>
            <input
                [placeholder]="'MEMBER.INPUT_PRINTED_NAME' | translate"
                class="form-control"
                formControlName="printedName"
            />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="fw-semibold required text-capitalize">{{ 'MEMBER.DOB' | translate }}</label>
            <input type="date" class="form-control" formControlName="dob" />
        </div>

        <div class="col-md-6">
            <label class="fw-semibold required text-capitalize">{{ 'MEMBER.PRINTED_NUMBER' | translate }}</label>
            <input
                class="form-control"
                [placeholder]="'MEMBER.INPUT_PRINTED_NUMBER' | translate"
                formControlName="printedNumber"
            />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="fw-semibold required text-capitalize">{{ 'MEMBER.PHONE' | translate }}</label>
            <input [placeholder]="'MEMBER.INPUT_PHONE' | translate" class="form-control" formControlName="phone" />
        </div>
        <div class="col-md-6">
            <label class="fw-semibold text-capitalize">{{ 'COMMON.POSITION' | translate }}</label>
            <ng-select
                [items]="positions"
                bindLabel="name"
                bindValue="code"
                [placeholder]="'COMMON.SELECT_POSITION' | translate"
            ></ng-select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="fw-semibold required text-capitalize">{{ 'MEMBER.ADDRESS' | translate }}</label>
            <textarea class="form-control" formControlName="address" style="min-height: 150px"></textarea>
        </div>
        <div class="col-md-6">
            <label class="fw-semibold text-capitalize">{{ 'MEMBER.AVATAR' | translate }}</label>
            <input type="file" class="form-control" />
        </div>
    </div>
</form>
