<form class="user" [formGroup]="registerFormGroup">
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <fms-input
                [placeholder]="'AUTH.FIRST_NAME' | translate"
                formControlName="firstName"
                [control]="registerFormGroup.get('firstName')"
            ></fms-input>
        </div>
        <div class="col-sm-6">
            <fms-input
                [placeholder]="'AUTH.LAST_NAME' | translate"
                formControlName="lastName"
                [control]="registerFormGroup.get('lastName')"
            ></fms-input>
        </div>
    </div>
    <div class="form-group">
        <fms-input
            type="email"
            [placeholder]="'AUTH.EMAIL' | translate"
            formControlName="email"
            [control]="registerFormGroup.get('email')"
        ></fms-input>
    </div>
    <div class="form-group">
        <fms-input
            type="password"
            [placeholder]="'AUTH.PASSWORD' | translate"
            formControlName="password"
            [control]="registerFormGroup.get('password')"
        ></fms-input>
    </div>
    <fms-button [label]="'AUTH.REGISTER' | translate"></fms-button>
</form>
