<form [formGroup]="formGroup">
    <fms-select
        [label]="'COMMON.POSITION' | translate"
        [required]="true"
        [items]="positions | signal"
        [bindValue]="'code'"
        [bindLabel]="'name'"
        [multiple]="true"
        [placeholder]="'COMMON.SELECT_POSITION' | translate"
        formControlName="position"
        [errorsMessage]="{
            required: 'MEMBER.ERRORS.POSITION.REQUIRED'
        }"
        [group]="'group'"
        [control]="formGroup.get('position')"
    ></fms-select>
</form>