<div class="d-flex flex-column row-gap-4 h-100">
    <create-fc-form
        (formInitialized)="createFcForm = $event"
        (changeAvatar)="avatar = $event"
    ></create-fc-form>
    <list-media
        [allowsFile]="['.png', '.jpg', '.jpeg', '.mp4']"
        [media]="media"
        (changeMedia)="media = $event"
    ></list-media>
    <member-grid-wrapper
        class="flex-grow-1"
        [members]="members"
        (changeMember)="members = $event"
    ></member-grid-wrapper>
    <div class="d-flex justify-content-center gap-10px">
        <fms-button
            [icon]="'plus'"
            [label]="'FOOTBALL_CLUB.CREATE.BTN_CREATE' | translate"
            (click)="onSubmitForm()"
        ></fms-button>
        <fms-button
            [icon]="'arrow-left'"
            [label]="'COMMON.GO_BACK' | translate"
            (click)="goBack()"
        ></fms-button>
    </div>
</div>
