<div class="d-flex flex-column row-gap-4">
    <create-fc-form
        (formInitialized)="createFcForm = $event"
        (changeAvatar)="avatar = $event"
    ></create-fc-form>
    <list-media
        [allowsFile]="['.png', '.jpg', '.jpeg', '.mp4']"
        [media]="media"
        (changeMedia)="media = $event"
    ></list-media>
    <member-grid-wrapper
        [members]="members"
        (changeMember)="members = $event"
    ></member-grid-wrapper>
    <div class="d-flex justify-content-center gap-10px">
        <button class="btn btn-success" (click)="submitFormCreateFc()">
            <i class="fas fa-plus me-2"></i>
            <span class="text-capitalize">
                {{ 'FOOTBALL_CLUB.CREATE.BTN_CREATE' | translate }}
            </span>
        </button>
        <button-back [class]="['btn', 'btn-md', 'btn-danger']"></button-back>
    </div>
</div>
