<search-wrapper [formGroup]="formGroup" (search)="ngOnSearch($event)">
    <div class="row row-gap-3">
        <div class="col-md-3">
            <fms-input
                type="text"
                formControlName="fcName"
                [label]="'FOOTBALL_CLUB.NAME' | translate"
                [placeholder]="'FOOTBALL_CLUB.INPUT_NAME' | translate"
            ></fms-input>
        </div>
        <div class="col-md-3">
            <fms-select
                [items]="status"
                [label]="'COMMON.STATUS' | translate"
                [bindLabel]="'desc'"
                [bindValue]="'code'"
                [multiple]="false"
                [placeholder]="'COMMON.SELECT_STATUS' | translate"
                formControlName="fcStatus"
            ></fms-select>
        </div>

        <div class="col-md-3">
            <fms-date
                formControlName="fromDate"
                [label]="'COMMON.FROM_DATE' | translate"
            ></fms-date>
        </div>
        <div class="col-md-3">
            <fms-date
                formControlName="toDate"
                [label]="'COMMON.TO_DATE' | translate"
            ></fms-date>
        </div>
    </div>
</search-wrapper>
