<form
    class="d-flex flex-column gap-3"
    [formGroup]="formGroup"
    (submit)="ngOnSearch()"
>
    <div class="row row-gap-3">
        <div class="col-md-3">
            <fms-input
                type="text"
                formControlName="fcName"
                [label]="'FOOTBALL_CLUB.NAME' | translate"
                [placeholder]="'FOOTBALL_CLUB.INPUT_NAME' | translate"
            ></fms-input>
        </div>
        <div class="col-md-3">
            <fms-select
                [items]="status"
                [label]="'COMMON.STATUS' | translate"
                [bindLabel]="'name'"
                [bindValue]="'code'"
                [multiple]="false"
                [placeholder]="'COMMON.SELECT_STATUS' | translate"
                formControlName="fcStatus"
                [templates]="[
                    {
                        name: 'ng-label-tmp',
                        templateRef: templateOption
                    },
                    {
                        name: 'ng-option-tmp',
                        templateRef: templateOption
                    }
                ]"
            ></fms-select>
        </div>

        <div class="col-md-3">
            <fms-input
                type="date"
                [label]="'COMMON.FROM_DATE' | translate"
                formControlName="fromDate"
            ></fms-input>
        </div>
        <div class="col-md-3">
            <fms-input
                type="date"
                [label]="'COMMON.TO_DATE' | translate"
                formControlName="toDate"
            ></fms-input>
        </div>
    </div>

    <div class="d-flex justify-content-start justify-content-md-center">
        <button class="btn btn-primary">
            <fa-icon [icon]="['fas', 'search']" class="me-2"></fa-icon>
            <span class="text-capitalize">{{
                'COMMON.SEARCH' | translate
            }}</span>
        </button>
    </div>
</form>

<ng-template #templateOption let-item="item" let-index="index">
    <span class="text-capitalize ng-option-label">{{
        'FOOTBALL_CLUB.STATUS.' + item.desc | translate
    }}</span>
</ng-template>
