<div class="d-flex flex-column gap-4 h-100">
    <div class="p-3 bg-light rounded">
        <div class="p-3 bg-white rounded shadow">
            <fc-form-search></fc-form-search>
        </div>
    </div>
    <div class="p-3 bg-light rounded h-100">
        <div
            class="d-flex flex-column row-gap-4 h-100 bg-white p-3 rounded shadow"
        >
            <div class="d-flex justify-content-between align-items-center">
                <span class="font-italic fw-semibold text-capitalize"
                    >{{ 'COMMON.TOTAL_RECORD' | translate:{numberOfRecord: 1}
                    }}</span
                >
                <div class="d-flex gap-2">
                    <a
                        [routerLink]="'/football-club/create-football-club'"
                        class="btn btn-sm btn-success"
                    >
                        <i class="fas fa-plus me-2"></i>
                        <span class="text-capitalize"
                            >{{ 'COMMON.CREATE' | translate }}</span
                        >
                    </a>

                    <button class="btn btn-sm btn-secondary">
                        <i class="fas fa-download me-2"></i>
                        <span class="text-capitalize"
                            >{{ 'COMMON.EXPORT_EXCEL' | translate }}</span
                        >
                    </button>
                </div>
            </div>

            <div class="flex-grow-1">
                <fc-grid></fc-grid>
            </div>
            <pagination [pagination]="pagination"></pagination>
        </div>
    </div>
</div>
