@import 'bootstrap/scss/bootstrap';
@import 'ng-zorro-antd/ng-zorro-antd.min.css';
@import './mixin';

.required:after {
    content: ' *';
    @extend .text-danger;
}

label {
    text-transform: capitalize;
}

textarea,
input {
    &::placeholder {
        text-transform: capitalize;
    }
}

.cursor-pointer {
    cursor: pointer !important;
}

.image-preview {
    .remove-image {
        width: 20px;
        height: 20px;
        top: 5px;
        right: 5px;
    }

    &:hover {
        > .remove-image {
            display: flex !important;
        }
    }
}

button:disabled {
    cursor: not-allowed !important;
    pointer-events: unset !important;
}

.nice-scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
