/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '~ng-zorro-antd/ng-zorro-antd.min.css';
@import './mixin';

.required:after {
    content: ' *';
    @extend .text-danger;
}

.ng-placeholder,
label {
    text-transform: capitalize;
}

textarea,
input {
    &::placeholder {
        text-transform: capitalize;
    }
}

.cursor-pointer {
    cursor: pointer !important;
}

.ag-overlay-no-rows-wrapper {
    text-transform: capitalize;
}

.image-preview {
    .remove-image {
        width: 20px;
        height: 20px;
        top: 5px;
        right: 5px;
    }

    &:hover {
        > .remove-image {
            display: flex !important;
        }
    }
}

button:disabled {
    cursor: not-allowed !important;
    pointer-events: unset !important;
}
