<fms-search-form [formGroup]="formGroup">
    <div class="row row-gap-3">
        <div class="col-md-6">
            <fms-select
                [items]="items | signal"
                [label]="'COMMON.FC' | translate"
                [placeholder]="'COMMON.SELECT_FC' | translate"
                formControlName="fc"
                [control]="formGroup.get('fc')"
            ></fms-select>
        </div>

        <div class="col-md-6">
            <fms-select
                [items]="items | signal"
                [label]="'COMMON.STATUS' | translate"
                [placeholder]="'COMMON.SELECT_STATUS' | translate"
                formControlName="status"
                [control]="formGroup.get('status')"
            ></fms-select>
        </div>
    </div>

    <div class="row row-gap-3">
        <div class="col-md-6">
            <fms-input
                [label]="'FUNDING.NAME' | translate"
                [placeholder]="'FUNDING.INPUT_NAME' | translate"
                formControlName="name"
                [control]="formGroup.get('name')"
            ></fms-input>
        </div>
        <div class="col-md-6">
            <label class="fw-semibold">{{ 'FUNDING.DATE' | translate }}</label>
            <div class="row row-gap-3">
                <div class="col-md-6">
                    <fms-date
                        formControlName="fromDate"
                        [control]="formGroup.get('fromDate')"
                    ></fms-date>
                </div>
                <div class="col-md-6">
                    <fms-date
                        formControlName="toDate"
                        [control]="formGroup.get('toDate')"
                    ></fms-date>
                </div>
            </div>
        </div>
    </div>
</fms-search-form>
